body {
  font-size: 18px;
  line-height: 1.5;

}
article {
  font-family: Georgia, "Times New Roman", serif;
  text-align: justify;
  margin-bottom: 5em;

}
header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.metadata {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8em;
  color: #b3b3b1;
  border-top: solid 1px #b3b3b1;
}
.metadata a{
  color: #b3b3b1;
}

.body-content {
    width: 800px;
}

.tag {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}