body {
  font-size: 18px;
  line-height: 1.5 !important;

}
article {
  font-family: Georgia, "Times New Roman", serif;
  text-align: justify !important;
  margin-bottom: 15em !important;

}
header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.metadata {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8em;
  color: #b3b3b1;
  border-top: solid 1px #b3b3b1;
}
.metadata a{
  color: #b3b3b1;
}

.body-content {
    width: 800px;
}


.tag {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* customize nikola_ipython.css */
div.prompt {
    display: none !important;
}

div.input {
    border: none;
    font-size: 0.8em;
}
