argh==0.26.2
Babel==2.6.0
blinker==1.4
certifi==2018.8.24
chardet==3.0.4
cloudpickle==0.5.6
docutils==0.14
doit==0.31.1
idna==2.7
Jinja2==2.10
Logbook==1.4.0
lxml==4.2.5
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
natsort==5.4.1
Nikola==8.0.0
pathtools==0.1.2
piexif==1.0.13
Pillow==5.2.0
Pygments==2.2.0
PyRSS2Gen==1.1
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.12
requests==2.19.1
six==1.11.0
Unidecode==1.0.22
urllib3==1.23
watchdog==0.8.3
ws4py==0.5.1
Yapsy==1.12.0
